In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/Users/joaosequeira/sao_paulo_apartments/sao_paulo_apartments/dados_wgs.xlsx')

In [3]:
df

,id,valor_total,unit,area_util,quartos,vagas,condominio,suites,banheiros,piscina,...,qtd_dados_bairro,media_idh,media_gini,expectativa_vida,renda_percapita,estacao_prox,linha_prox,dist,lat,lon
0,526,189900,5934.38,32,2,1,180.0,0,1,0,...,36.0,0.697182,0.410909,72.751818,559.668182,SÃO MATEUS,PRATA,6822.823684,-23.583879,-46.417548
1,734,221110,5142.09,43,2,1,250.0,0,1,0,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,4682.709841,-23.543535,-46.425492
2,738,219990,5116.05,43,1,1,300.0,0,1,1,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,4579.311123,-23.537339,-46.426823
3,753,219990,5116.05,43,2,1,300.0,0,1,1,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,4579.311123,-23.537339,-46.426823
4,924,220000,5365.85,41,2,1,300.0,0,1,1,...,36.0,0.697182,0.410909,72.751818,559.668182,CORINTHIANS-ITAQUERA,VERMELHA,3313.918703,-23.557799,-46.443523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2232,400000,6557.38,61,1,0,NaN,0,1,0,...,17.0,0.839667,0.510000,79.776667,1691.543333,REPÚBLICA,AMARELA,517.307020,-23.549233,-46.644282
2495,2233,688000,4712.33,146,2,1,600.0,1,3,0,...,17.0,0.839667,0.510000,79.776667,1691.543333,REPÚBLICA,AMARELA,452.950837,-23.548706,-46.643887
2496,2234,275000,6875.00,40,1,0,382.0,0,1,0,...,17.0,0.839667,0.510000,79.776667,1691.543333,REPÚBLICA,AMARELA,362.414001,-23.546804,-46.645963
2497,2240,329000,11750.00,28,1,0,350.0,1,1,0,...,17.0,0.839667,0.510000,79.776667,1691.543333,REPÚBLICA,AMARELA,394.364415,-23.546090,-46.646823
2498,2243,254800,11581.82,22,1,0,200.0,1,1,1,...,17.0,0.839667,0.510000,79.776667,1691.543333,REPÚBLICA,AMARELA,474.375069,-23.548405,-46.645530

In [4]:
treated_df = df[['valor_total', 'unit', 'area_util', 'quartos', 'vagas',
       'condominio', 'suites', 'banheiros', 'piscina', 'academia', 'quadra',
       'media_idh', 'media_gini', 'expectativa_vida', 'renda_percapita',
        'dist', 'lat', 'lon']]

treated_df

Index(['id', 'valor_total', 'unit', 'area_util', 'quartos', 'vagas',
       'condominio', 'suites', 'banheiros', 'piscina', 'academia', 'quadra',
       'endereco', 'link', 'bairro', 'media_bairro', 'qtd_dados_bairro',
       'media_idh', 'media_gini', 'expectativa_vida', 'renda_percapita',
       'estacao_prox', 'linha_prox', 'dist', 'lat', 'lon'],
      dtype='object')